<div class="single-card-container">
  <div class="single-card-image-wrapper">
    <img src="{{photo.url}}" alt="" class="single-card-image">
  </div>

  <div class="single-card-meta">
<ion-avatar class="single-card-meta__avatar">
  <img src="{{photo.user.profileImage}}" alt="">
</ion-avatar>
<div class="single-card-meta__info">
  <strong class="single-card-meta__info-name">{{photo.user.firstname}}</strong><br>
  
</div>
<div class="single-card-add-btn-wrapper">
<ion-buttons>
<ion-button class="single-card-like-btn" (click)="like(photo)">
    <ion-icon slot="icon-only" name="{{photo.liked ? 'heart': 'heart-outline'}}" class="like-icon"></ion-icon>
  </ion-button>
  <ion-button class="single-card-add-btn" (click)="addToAlbum(photo)">
    <ion-icon slot="icon-only" name="add" class="add-to-album-icon"></ion-icon>
  </ion-button>
</ion-buttons>
</div>
  </div>
</div>