.single-card-container{
    width: 350px;
    max-width:98%;
    position: relative;
    flex:1 1 0;
    margin: auto;
    
}
.single-card-image-wrapper{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 1rem auto;
}
.single-card-image{
    position: absolute;
    width: 100%;
    height: 100%;
    inset:0;
    object-fit: cover;
}

.single-card-meta{
    position: absolute;
    border-radius:10px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding: 5px;
    background-color: #fffe;
    display: flex;
    backdrop-filter:blur(3px)
}
@media all and (prefers-color-scheme:dark){
    .single-card-meta{
        background-color:#000d;
    }
}
ion-avatar.single-card-meta__avatar{
    max-width: 50px;
    max-height: 50px;
    margin-right: 1rem;
}
.single-card-meta__info{
flex:1 1 0;
display: flex;
align-items: center;
}
.single-card-meta__info-name{
text-transform: capitalize;


}
.single-card-add-btn-wrapper{
    align-self:flex-end;

}
ion-icon.like-icon,ion-icon.add-to-album-icon{
    color:#f6df
}
