<div class="login-form-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Login </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label for="emailOrUsername" position="floating">
            Email:</ion-label
          >
          <ion-input
            type="text"
            formControlName="emailOrUsername"
            id="emailOrUsername"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label for="password" position="floating"> Username:</ion-label>
          <ion-input
            type="text"
            formControlName="password"
            id="password"
          ></ion-input>
        </ion-item>
        <br />
        <ion-button
          type="button"
          expand="block"
          size="large"
          [disabled]="!loginForm.valid"
          >Login</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</div>
