.profile-avatar{
    width: 150px;
    height: 150px;
    border-radius:50%;
    margin: 1rem auto;
}
.profile-name{
    text-transform: capitalize;
}

.image-wrapper{
    width: 150px;
    margin: auto;
}