<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add a new photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>

    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
 <form [formGroup]="newPhotoForm">
        <ion-item>
          <ion-label for="albums" position="floating">
            Select an album</ion-label
          >
          <ion-select
      
            formControlName="userAlbums"
            id="albums"
          >
        <ion-select-option>
          option 1
        </ion-select-option>
        </ion-select>
        </ion-item>

<br>
<div class="photos-preview-container" *ngIf="photosToPreview.length" >
  <ion-label>{{photosToPreview.length}} Photos</ion-label><br>

  <div class="photos-preview" >
    <img src="{{photo}}"  *ngFor="let photo of photosToPreview">
    
  </div>
</div>

  <ion-item lines="none">
            <ion-button size="default" expand="block" (click)="f.click()">
              <ion-icon lazy="true" slot="start" name="image"></ion-icon>
              <ion-label slot="end">Choose Photos</ion-label>
            </ion-button>
              <input formControlName="photosUpload" class="ion-hide" #f type="file" (change)="loadImageFromDevice($event)" id="file-input"
                accept="image/*" multiple maxlength="10">
                <br>
<ion-note>Max: 10 photos</ion-note>
         </ion-item>

        <br />
        <ion-button
          type="button"
          
          [disabled]="!newPhotoForm.valid || isSending" (click)="addNewPhoto()"
          ><ion-spinner name="bubbles" *ngIf="isSending"></ion-spinner> {{isSending ? 'uploading':'Upload'}}</ion-button
        >
      </form>
  </ion-card-content>
</ion-card>
</ion-content>
